@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
#about
{
	margin-top: 60px;
}
.about_content
{
	display: flex;
	justify-content: center;
	padding-left: 20%;
}
.about_para 
{
	width: 35%;
	padding-right: 30px;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
}
.about_para >h1
{
	font-size: 2.5rem;
	font-family: 'Poppins', sans-serif;
	padding-top: 30px;
}
.about_para >p
{
	font-size: 14px;
	color: #9d9eba;
	padding: 30px 0px;
	text-align: justify;
	padding-right: 30px;
	line-height: 25px;
}
.about_para >button
{
	height: 40px;width: 180px;
	background-color:#3698f9;
	border:none;
	color: white;
	font-size: 12px;
	font-weight: bolder;
	border-radius: 30px;
	font-family: 'Poppins', sans-serif;
}
.about_para >button:hover
{
	color: #3698f9;
	background-color:transparent;
	border:1px solid #3698f9 ;
	font-family: 'Poppins', sans-serif;
}
.about_img >img
{
	height: 100%;
	width: 100%;
}